$border: 1px transparent;
$font:'Titillium Web', sans-serif;
//mixins
@mixin reset
{
    margin:0;
    padding:0;
    
}

@mixin form-look ($width,$height,$padding)
{
    display:flex;
    flex-direction: column;
    width:$width;
    padding:$padding;
 
    box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.3);
    height:$height;
  
   align-items:center;
    background-color:rgb(244,244,244);
}
@mixin display ($display,$direction)
{
    display:$display;
    flex-direction: $direction;

}

@mixin field-style
{
    padding:2% 2% 2% 30%;
    border-radius:4px;
    height:25px;
    width:100%;
    border:1px solid rgb(198,198,198);
  margin-left:2%;
    
}

@mixin button($width,$margin-left)
{
   
  background: linear-gradient(to bottom, rgba(172,220,84,1) 0%, rgba(124,195,31,1) 100%);
    width:$width;
    height:50px;
    border:none;
    color:white;
    font-size:1.5rem;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
    padding:0;
    border-radius:4px;
    margin-left:$margin-left;
    

}

@mixin big-wrapper
{
    
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    padding:2%;
  
    margin:0 2%;
    width:25vw;
    max-height:150vh;
   
    
}

@mixin big-wrapper-right
{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    padding:2%;
  max-width:150vh;
    margin:0 2%;
    width:35vw;
   
    
}

@mixin icon-image
{
    
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin title
{
    @include display(flex,column);
    height:auto;
    color:white;
     z-index:1000;
    align-self: center;
    margin:0;
    margin-bottom:10%;
    
    
    padding:0;
     font-weight: 400;
    font-size:2rem;
    
}

.title
{
    @include title;
}

.title:nth-child(2)

{    margin-bottom:20%;
    @include title;
    
}

body
{
    @include reset;
    font-family: $font;
    overflow-x: hidden;
}





.form-box
{
    
    display:flex;
    width:100vw;
   background-image:url(bg.jpg);
    background-position:right center;
    background-repeat: no-repeat;
  background-size:cover;
    height:auto;
    justify-content: space-around;
   
    
    
    
}
.border
{
    width:30%;
    height:60%;
}

.big-wrapper-left
{
    @include big-wrapper;
    @include display(flex,column);
}

.big-wrapper-right
{@include big-wrapper-right;
    @include display(flex,column);
    
}

.left-form-wrapper
{
   @include form-look (
       25vw,50vh,1%);
    margin-bottom:5%;
 }

.left-form-wrapper-bottom
{    @include form-look (
       25vw,70vh,1%);
    margin-bottom:20%;
    
}

.left-form-wrapper:nth-child(2) > form
{
 @include display(flex,column);
     width:100%;
    height:100%;
    
}
.left-form-wrapper > form
{
    @include display(flex,column);
    width:100%;
 
  
}

.left-form-wrapper-bottom > form
{
    @include display(flex,column);
    width:100%;
    height:100%;
 
  
}

//left form end


.right-form-wrapper:nth-child(2)
{
    @include form-look(30vw,25vh,2%);
    margin-bottom:40%;
}
.right-form-wrapper:nth-child(3)
{
    height:15vh;
    
}
.right-form-wrapper
{ @include form-look(29vw,25vh,2%);
    margin-bottom:40%;
    
}

.right-form-wrapper > form
{    width:100%;
    height:100%;
}


.right-form-wrapper > .input-wrapper
{
    width:100%;
}

.input-wrapper
{
    padding:2%;
        @include display (flex,row);
    position:relative;
}

.input-wrapper > input
{
   
    @include field-style;
   
}

//icons 

.left-form-wrapper .input-wrapper >
.icon
{
    border-bottom: $border;
    border-top:$border;
    border-left:$border;
    border-right:1px solid rgb(222,222,222);
    width:20%;
    left:4%;
    height:calc(100% - 0.8rem);
    position:absolute;
    box-sizing: border-box;
    color:rgb(222,222,222);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.left-form-wrapper-bottom .input-wrapper >
.icon
{
    border-bottom: $border;
    border-top:$border;
    border-left:$border;
    border-right:1px solid rgb(222,222,222);
    width:20%;
    left:4%;
    height:calc(100% - 0.8rem);
    position:absolute;
    box-sizing: border-box;
    color:rgb(222,222,222);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right-form-wrapper .input-wrapper > .icon
{
     border-bottom: $border;
    border-top:$border;
    border-left:$border;
    border-right:1px solid rgb(222,222,222);
    width:20%;
    left:4%;
    height:calc(100% - 1rem);
    position:absolute;
    box-sizing: border-box;
    color:rgb(222,222,222);
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-image
{
display:flex;
    
}

.icon-second-wrapper
{   border-bottom: $border;
    border-top:$border;
    border-left:$border;
    border-right:1px solid rgb(222,222,222);
    width:18%;
    left:8%;
    top:54%;
    position:absolute;
    transform: translateY(-50%);
    color:rgb(222,222,222);
  margin-left:3%;
    margin-top:1%;
    
}

.location
{
    padding:2% 2% 2% 29%;
    border-radius:4px;
    height:36px;
    width:100%;
    border:1px solid rgb(198,198,198);
  margin-left:2%;
}

//buttons
.signup-button 
{
    @include button(94%,4%);
}


.send-email-button
{
    @include button(94%,4%);
    
}

.signin-button
{
     @include button(50%,4%);
}

.senddone-button
{

@include button (100%,0);
    margin:3%;
}

.no-button
{
@include button (100%,0);
    margin:3%;
    background:red;
}
.button-wrapper-left
{    @include display(flex,column);
margin-bottom:5%;
}

.button-wrapper-right
{
    @include display(flex,row);
margin-bottom:5%;
    width:100%;
}
//buttons ending
label[for="test"]
{
    padding:0;
    margin-left:0;

    background-repeat: no-repeat;
    padding-left:20px;
   
}
.input:checked + .label[for="test"]
{
    padding:0;
    margin-left:0;
   
     
    background-position:0 0.7vh;
    padding-left:20px;
      background-image:url(check.png);
   background-repeat: no-repeat;
    
}
.label-button-wrapper
{
    @include display(flex,row);
    width:100%;
    justify-content: flex-end;
    margin-bottom:5%;
}



input[type="radio"] 
{
display:none;  
        
 
}




.radio-button {

display:inline-block;
    width:18px;
    height:18px;
    border:1px solid rgb(222,222,222);
    border-radius:4px;
    transform:translateY(20%);
     margin-right:2px;
    
    

}

 .radio-button-check
{    display:inline-block;
    width:18px;
    height:18px;
    border:1px solid rgb(222,222,222);
    border-radius:4px;
    transform:translateY(20%);
     margin-right:2px;
    background-image:url('check.png');
     background-repeat:no-repeat;
     background-size:cover;
     padding:2%;
     box-sizing: border-box;
}



select
{
    @include field-style;
    height:36px;
     color:rgb(169,169,169);
    
   
}

textarea
{    font-family:$font;
     color:rgb(169,169,169);
    width:94%;
    margin-left:4%;
    border:1px solid rgb(198,198,198);
    height:20rem;
  
    margin-top:3%;
    margin-bottom:5%;
    margin-right:3%;
    box-sizing:border-box;
}


