.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  color: white;
  z-index: 1000;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 0;
  margin-bottom: 5%;
  text-align: center;
  padding: 0;
  font-weight: 400;
  font-size: 2rem; }

.title:nth-child(2) {
  margin-bottom: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  color: white;
  z-index: 1000;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 0;
  margin-bottom: 5%;
  text-align: center;
  padding: 0;
  font-weight: 400;
  font-size: 2rem; }

body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden; }

.form-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  background-image: url(bg.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  overflow: hidden;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.border {
  width: 30%;
  height: 60%; }

.big-wrapper-left {
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  max-height: 150vh; }

.big-wrapper-right {
  display: block;
  padding: 2%;
  max-height: 200vh;
  margin: 0 2%;
  width: 50vw; }

.left-form-wrapper {
  width: 24rem;
  padding: 1%;
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
  height: 23rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 5%; }

.left-form-wrapper-bottom {
  width: 24rem;
  padding: 1%;
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 20%; }

.left-form-wrapper:nth-child(2) > form {
  width: 100%;
  height: 100%; }

.left-form-wrapper > form {
  width: 100%; }

.left-form-wrapper-bottom > form {
  width: 100%;
  height: 100%; }

.big-wrapper-right .right-form-wrapper:nth-child(2) {
  width: 27rem;
  padding: 2%;
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 5%; }

.big-wrapper-right .right-form-wrapper:nth-child(3) {
  height: 15vh; }

.big-wrapper-right .right-form-wrapper {
  width: 27rem;
  padding: 2%;
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto; }

.right-form-wrapper > form {
  width: 100%;
  height: 100%; }

.right-form-wrapper > .input-wrapper {
  width: 100%; }

.input-wrapper {
  padding: 2%;
  position: relative; }

.input-wrapper > input {
  padding: 2% 2% 2% 30%;
  border-radius: 4px;
  height: 25px;
  width: 63%;
  border: 1px solid #c6c6c6;
  margin-left: 2%; }

.left-form-wrapper .input-wrapper >
.icon {
  border-bottom: 1px transparent;
  border-top: 1px transparent;
  border-left: 1px transparent;
  border-right: 1px solid #dedede;
  width: 20%;
  left: 4%;
  height: calc(100% - 0.8rem);
  position: absolute;
  box-sizing: border-box;
  color: #dedede;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.left-form-wrapper-bottom .input-wrapper >
.icon {
  border-bottom: 1px transparent;
  border-top: 1px transparent;
  border-left: 1px transparent;
  border-right: 1px solid #dedede;
  width: 20%;
  left: 4%;
  height: calc(100% - 0.8rem);
  position: absolute;
  box-sizing: border-box;
  color: #dedede;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.right-form-wrapper .input-wrapper > .icon {
  border-bottom: 1px transparent;
  border-top: 1px transparent;
  border-left: 1px transparent;
  border-right: 1px solid #dedede;
  width: 20%;
  left: 4%;
  height: calc(100% - 1rem);
  position: absolute;
  box-sizing: border-box;
  color: #dedede;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.icon-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.icon-second-wrapper {
  border-bottom: 1px transparent;
  border-top: 1px transparent;
  border-left: 1px transparent;
  border-right: 1px solid #dedede;
  width: 18%;
  left: 8%;
  top: 54%;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #dedede;
  margin-left: 3%;
  margin-top: 1%; }

.location {
  padding: 2% 2% 2% 29%;
  border-radius: 4px;
  height: 36px;
  width: 95%;
  border: 1px solid #c6c6c6;
  margin-left: 2%; }

.signup-button {
  background: -webkit-linear-gradient(top, #acdc54 0%, #7cc31f 100%);
  background: linear-gradient(to bottom, #acdc54 0%, #7cc31f 100%);
  width: 94%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 2px 2px #969696;
  padding: 0;
  border-radius: 4px;
  margin-left: 4%; }

.send-email-button {
  background: -webkit-linear-gradient(top, #acdc54 0%, #7cc31f 100%);
  background: linear-gradient(to bottom, #acdc54 0%, #7cc31f 100%);
  width: 94%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 2px 2px #969696;
  padding: 0;
  border-radius: 4px;
  margin-left: 4%; }

.signin-button {
  background: -webkit-linear-gradient(top, #acdc54 0%, #7cc31f 100%);
  background: linear-gradient(to bottom, #acdc54 0%, #7cc31f 100%);
  width: 50%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 2px 2px #969696;
  padding: 0;
  border-radius: 4px;
  margin-left: 4%; }

.senddone-button {
  background: -webkit-linear-gradient(top, #acdc54 0%, #7cc31f 100%);
  background: linear-gradient(to bottom, #acdc54 0%, #7cc31f 100%);
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 2px 2px #969696;
  padding: 0;
  border-radius: 4px;
  margin-left: 0;
  margin: 3%; }

.no-button {
  background: -webkit-linear-gradient(top, #acdc54 0%, #7cc31f 100%);
  background: linear-gradient(to bottom, #acdc54 0%, #7cc31f 100%);
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 2px 2px #969696;
  padding: 0;
  border-radius: 4px;
  margin-left: 0;
  margin: 3%;
  background: red; }

.button-wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%; }

.button-wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5%;
  width: 100%; }

label[for="test"] {
  padding: 0;
  margin-left: 0;
  background-repeat: no-repeat;
  padding-left: 20px; }

.input:checked + .label[for="test"] {
  padding: 0;
  margin-left: 0;
  background-position: 0 0.7vh;
  padding-left: 20px;
  background-image: url(check.png);
  background-repeat: no-repeat; }

.label-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5%; }

input[type="radio"] {
  display: none; }

.radio-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #dedede;
  border-radius: 4px;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
  margin-right: 2px; }

.radio-button-check {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #dedede;
  border-radius: 4px;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
  margin-right: 2px;
  background-image: url("check.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
  box-sizing: border-box; }

select {
  padding: 2% 2% 2% 30%;
  border-radius: 4px;
  height: 25px;
  width: 63%;
  border: 1px solid #c6c6c6;
  margin-left: 2%;
  height: 36px;
  color: darkgray; }

textarea {
  font-family: "Titillium Web", sans-serif;
  color: darkgray;
  width: 94%;
  margin-left: 4%;
  border: 1px solid #c6c6c6;
  height: 20rem;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-right: 3%;
  box-sizing: border-box; }

@media only screen and (min-width: 360px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .big-wrapper-right {
    position: relative;
    top: 20%; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .form-box {
    display: block;
    height: auto; }

  .big-wrapper-right {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    width: 100vw;
    height: auto; }

  .big-wrapper-left {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto; }

  .left-form-wrapper {
    width: 90vw;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto; }

  .left-form-wrapper-bottom {
    width: 90vw;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto; }

  .big-wrapper-right .right-form-wrapper:nth-child(2) {
    width: 90vw;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%; }

  .big-wrapper-right .right-form-wrapper:nth-child(3) {
    height: 15vh; }

  .big-wrapper-right .right-form-wrapper {
    width: 90vw;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .form-box {
    display: block;
    height: 620vh; }

  .big-wrapper-right {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: 500%;
    position: relative;
    top: 690px; }

  .big-wrapper-left {
    width: 80vw;
    margin-left: auto;
    margin-right: auto; }

  .left-form-wrapper {
    width: 100%;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto; }

  .left-form-wrapper-bottom {
    width: 100%;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 20%; }

  .big-wrapper-right .right-form-wrapper:nth-child(2) {
    width: 100%;
    height: auto; }

  .big-wrapper-right .right-form-wrapper {
    width: 100%;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto; }

  .big-wrapper-right .right-form-wrapper:nth-child(3) {
    height: 50vh; } }
@media only screen and (min-device-width: 1366px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .form-box {
    height: 100%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .form-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .form-box {
    display: block;
    height: auto; }

  .big-wrapper-right {
    margin-left: auto;
    margin-right: auto; }

  .big-wrapper-right .right-form-wrapper {
    width: 100%;
    padding: 2%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 18vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto; }

  .left-form-wrapper {
    width: 100%;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 23rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 5%; }

  .left-form-wrapper-bottom {
    width: 100%;
    padding: 1%;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 20%; }

  .big-wrapper-right .right-form-wrapper:nth-child(2) {
    width: 100%;
    height: 18vh; } }
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .big-wrapper-left {
    margin-left: 6%; }

  .big-wrapper-right {
    margin-left: 4.5%; } }
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .form-box {
    display: block;
    height: 300vh; }

  .big-wrapper-left {
    width: 100%;
    margin-left: 6%;
    margin-right: auto;
    box-sizing: border-box;
    max-height: 150vh; }

  .left-form-wrapper {
    width: 80%;
    box-sizing: border-box;
    margin-left: 7%;
    margin-right: auto; }

  .left-form-wrapper-bottom {
    width: 80%;
    box-sizing: border-box;
    height: 85vh;
    margin-left: 7%; }

  .big-wrapper-right {
    position: relative;
    top: 8%;
    width: 90%; }

  .big-wrapper-right .right-form-wrapper:nth-child(2) {
    width: 90%;
    margin-left: 7%;
    margin-right: auto; }

  .big-wrapper-right .right-form-wrapper {
    width: 90%;
    margin-left: 7%; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .form-box {
    display: block;
    height: 700vh; }

  .big-wrapper-left {
    margin-left: auto;
    margin-right: auto;
    width: 90vw; }

  .left-form-wrapper {
    width: 90vw;
    height: 120vh; }

  .left-form-wrapper-bottom {
    width: 90vw;
    height: auto; }

  .big-wrapper-right {
    position: relative;
    top: 35%;
    margin: 0px auto;
    width: 90vw; }

  .big-wrapper-right .right-form-wrapper:nth-child(2) {
    width: 90%;
    margin: 0px auto;
    height: 90%;
    margin: 0 auto 5% auto; }

  .big-wrapper-right .right-form-wrapper {
    width: 90%;
    height: 90%;
    margin: 0 auto 5% auto; } }
@media only screen and (min-width: 360px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .big-wrapper-right {
    position: relative;
    top: 20%; } }

/*# sourceMappingURL=style.css.map */